.general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .general .submit-container {
    border-top: #D3D3D3 solid 1px;
    width: 100%;
    padding: 30px 0;
    margin-top: 60px;
    display: block; }
    .general .submit-container button {
      background-color: #019FF8;
      padding: 15px;
      color: white;
      width: 150px; }
