.info-card-container {
  width: 100%;
  margin: 15px 0; }
  .info-card-container h6 {
    margin: 10px 0;
    text-transform: uppercase; }
  .info-card-container .info-card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: #FEFEFE; }
    .info-card-container .info-card textarea {
      width: 100%;
      border: #eee 1px solid;
      padding: 5px;
      border-radius: 5px;
      min-height: 150px; }
    .info-card-container .info-card .duration {
      display: flex;
      width: 100%; }
      .info-card-container .info-card .duration .start-date {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right: #eee solid 1px;
        padding: 0 15px; }
        .info-card-container .info-card .duration .start-date > label {
          color: #000; }
        .info-card-container .info-card .duration .start-date > input {
          margin: 15px 0; }
      .info-card-container .info-card .duration .end-date {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 10px; }
        .info-card-container .info-card .duration .end-date > label {
          color: #000; }
        .info-card-container .info-card .duration .end-date > div {
          margin: 15px 0; }
          .info-card-container .info-card .duration .end-date > div > input {
            margin-right: 10px; }
    .info-card-container .info-card.skills {
      flex-direction: column; }
    .info-card-container .info-card .gender-preferences {
      padding: 0 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .info-card-container .info-card .gender-preferences label {
        margin-left: 10px; }

@media (min-width: 700px) {
  .info-card-container {
    width: 48%; } }
