.info-card-container{
	width: 100%;
	margin: 15px 0;
	h6{
		margin: 10px 0;
		text-transform: uppercase;
	}
	.info-card{
		padding: 15px;	
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		display: flex;
		background-color: #FEFEFE;


		textarea{
			width: 100%;
			border: #eee 1px solid;
			padding: 5px;
			border-radius: 5px;
			min-height: 150px;
		}

		.duration{
			display: flex;
			width: 100%;

			.start-date{
				display: flex;
				flex-direction: column;
				width: 50%;
				border-right: #eee solid 1px;
				padding: 0 15px;
				> label{
					color: #000;	
				}
				

				> input {
					margin: 15px 0;
				}
			}

			.end-date{
				width: 50%;
				display: flex;
				flex-direction: column;
				padding: 0 10px;
				> label{
					color: #000;	
				}
				

				>div{
					margin: 15px 0;

					> input{
						margin-right: 10px;
					}
				}
			}
		}

		&.skills{
			flex-direction: column;
		}

		.gender-preferences{
			padding: 0 15px;
			width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;

	    label{
	    	margin-left: 10px;
	    }
		}
	}
	
}

@media (min-width: 700px) { 
	.info-card-container{
		width: 48%;
	}
}