.header{
	height: 50px;
	width: 100%;
	display: flex;

	>div{
		flex-basis: 50%;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100%;
		position: relative;
		background-color: #eee;

		span{
			border-radius: 100%;
			width: 20px;
			height: 20px;
			line-height: 20px;
			margin: 5px;
			color: white;			
			background-color: #b3b3b3;
		}

		&.selected{
			background-color: #fff;
			border-bottom: solid 3px #019FF8;	

			span{
				background-color: #019FF8;
			}

			h6{
				color: #000;	
			}
			
			
			&:after{
				content: '';
		    position: absolute;
		    left: 100%;
		    top: 0;
		    width: 0;
		    height: 0;
		     border-top: 25px solid transparent;
			  border-bottom: 25px solid transparent;
			  border-left: 25px solid #fff;
		    clear: both;
		    z-index: 100;
			}
		}
		

		h6{
			height: 100%;
			line-height: 50px;
		}
	}
}